body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --iriscolor: #4d5ae5;
  --navybluecolor: #2e2f42;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --white: #ffffff;
  --ocean: #404bbf;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.div-header {
  display: flex;
  justify-content: space-around;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-base {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.nava {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iriscolor);
  text-decoration: none;
  margin-right: 76px;
}
.stu-dio {
  color: var(--navybluecolor);
}
.list {
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.spys {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.spys:hover,
.spys:focus {
  color: #404bbf;
}
.menu-link-active {
  color: #404bbf;
}

.menu-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.add-now {
  color: #434455;
  font-style: normal;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.add-now:hover,
.add-now:focus {
  color: #404bbf;
}

/* footer */
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-div-div {
  margin-right: 120px;
}

.footera.apos {
  display: inline-block;
  margin-bottom: 16px;
}
.stu-dio-foot {
  color: #f4f4fd;
}
.parafoot {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-container-media {
  margin-right: 80px;
}
.container-media-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}
.footer-div-ul {
  display: flex;
  gap: 16px;
}
.div-ul-li {
  width: 40px;
  height: 40px;
}
.foot-ul-li-a {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials {
  margin-right: 80px;
}

.social-zagol {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--green);
}

.social-logo {
  fill: var(--cloud);
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.subscribe-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background-color: var(--green);
}

.subscribe-form-icon {
  margin-left: 16px;
  fill: var(--cloud);
} 
/* 1 section 1 */
.section-one {
  background-color: var(--navyblue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.zagol-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: calc(1158px - 248px - 1158px / 2);
}
.first-knopka {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: calc(1158px - 157px / 2 - 1158px / 2);
  margin-top: 48px;
}
.first-knopka:hover {
  background-color: #404bbf;
}
.first-knopka:focus {
  background-color: #404bbf;
}
/* 1 section 2 */
.section-two {
  padding: 120px 0;
}
.se-li-two {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.punktone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navybluecolor);
  margin-bottom: 8px;
}
.advantages-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.advantages-icon {
  margin: 24px 100px;
}
.selione {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.paragraphpunktone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* 1 section 3 */
.section-three {
  padding-bottom: 120px;
}
.sekond {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navybluecolor);
  margin-bottom: 72px;
}
.ulliinsethree.classss {
  width: calc((100% - 48px) / 3);
}
/* 1 section 4 */
.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.humenone {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hsectionfour {
  margin-bottom: 72px;
}
.ulsefour {
  display: flex;
  gap: 24px;
}
.cla-div-ce {
  padding: 32px 0;
}
.four-h {
  text-align: center;
  margin-bottom: 8px;
}
.parag-four {
  text-align: center;
  margin-bottom: 8px;
}
.team-logo-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-logo-item {
  width: 40px;
  height: 40px;
}

.team-logo-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-logo-link:hover,
.team-logo-link:focus {
  background-color: #404bbf;
}

.section-team-icon {
  fill: var(--cloud);
}

/* 1 section 5 */
.section-five {
  padding: 120px 0;
}
.section-five-header {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-five-list {
  display: flex;
  gap: 24px;
}
.section-five-item {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.section-five-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five-link:hover,
.section-five-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.section-five-icon {
  fill: currentColor;
}

/* 2  */
.knopka {
  color: #4d5ae5;
  background-color: #f4f4fd;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.knopka:hover,
.knopka:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navybluecolor);
  margin-bottom: 8px;
}
.text-li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.po-se-one {
  padding-top: 96px;
  padding-bottom: 120px;
}
.po-ul-one {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.po-ul-two {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}
.port-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link:hover,
.port-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.port-link:hover .po-ul-text,
.port-link:focus .po-ul-text {
  transform: translateY(0);
}
.po-ul-li {
  width: calc((100% - 48px) / 3);
}
.po-first-div {
  position: relative;
  overflow: hidden;
}
.po-ul-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.two-ul-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
/* window */
.modal-one {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalka {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower, #e7e9fc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-p {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .form-svg {
  fill: #4d5ae5;
}

.modal-wrap {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate, #8e8f99);
  display: block;
  margin-bottom: 4px;
}

.form-input {
  position: relative;
}

.form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-usertext {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--white, #fff);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-terms {
  margin-bottom: 24px;
}

.form-checkbox{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate, #8e8f99);
}

.checkbox-label-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.form-checkbox:checked + .form-checkbox .checkbox-label-icon {
  background-color: var(--ocean, #404bbf);
  border: none;
  fill: var(--cloud, #f4f4fd);
}

.form-checkbox:focus + .form-checkbox .checkbox-label-icon {
  border-color: var(--ocean, #404bbf);
}

.form-checkbox:hover + .form-checkbox .checkbox-label-icon {
  border-color: var(--ocean, #404bbf);
}

.label-terms-link {
  color: var(--iris, #4d5ae5);
}
/* паттерн */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
